a[href^=\#] {
  color: #000;
  text-decoration:none;
}
a[href^=\#]:hover { color: #000; }

.bootstrap-switch-small { margin-top: -3px; }

.panel {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel-primary { border-color: #10A0EA; }
.panel-primary>.panel-heading { background-color: #0E90D2; }
.panel-title { font-size: 2.2rem; }
.panel-heading { border-bottom: 1px solid #DDD; }

.list-group-item {
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.list-group-item>.panel {
  border: 0;
  margin: -1.5rem -1.25rem;
}
.list-group-item>.panel>.panel-heading { padding: 1.5rem 1.25rem; }
.list-group-item>.panel .list-group-item {
  font-size: .9em;
  padding-left: 1.2em;
}

[data-toggle=collapse]>.glyphicon { transition: All 0.5s ease-in-out; }
[aria-expanded=true]>.glyphicon { transform: rotate(405deg); }
